root = true
[*.{asm,c,cs,css,cpp,cxx,h,hpp,html,hxx,js,php,py,sql,ts}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true